<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.sag.listen.TestListener"/>
</listeners>

  <test thread-count="5" name="Test">
  
  	<parameter name="browser" value ="Chrome" ></parameter>
  
    <classes>
      <!-- <class name="com.sag.pos.EomTest"/> -->
      <!-- <class name="com.sag.pos.PostTest"/> -->
      <class name="com.sag.dataprovider.TestDataProvider"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
